In [1]:
%cd ..

/home/thomas/Documents/Tesis/StudentVisorBackend/server_pyflask

In [2]:
import pandas as pd
from src.transformations.common_operations import filterDataFrame
from src.utils.enums import ColName
from src.transformations.common_operations import readFile

In [3]:
filters1 = {}
filters1[ColName.INSC_TYPE.value] = "i"
filters2 = {}
filters2[ColName.INSC_TYPE.value] = "i"

schFilters = {}

table1 = readFile("../studentsdata/students_inscriptions/2021_student-inscriptions_49b34551-9535-4857-89fa-114bf66a473b.pickle")
table2 = readFile("../studentsdata/students_inscriptions/2023_student-inscriptions_1dead12b-ab83-4fd6-b5f0-e554e578ff85.pickle")

scholarships = readFile("../studentsdata/students_scholarships/2023_student-scholarships-progresar_2454873a-fbf8-4665-b3bf-ba19c850bde2.pickle")

In [4]:
set(scholarships['id'].unique()).difference(set(table2['id'].unique()))

{'31956046',
 '35334402',
 '36293911',
 '37241376',
 '38244327',
 '38286545',
 '38297465',
 '38529139',
 '38935610',
 '39341643',
 '39801738',
 '39922018',
 '40223409',
 '40580598',
 '41097623',
 '41102953',
 '41146572',
 '41146596',
 '41324859',
 '41424014',
 '41569243',
 '41724338',
 '41740389',
 '41755768',
 '41916566',
 '41926287',
 '41929459',
 '42042302',
 '42054476',
 '42135390',
 '42294848',
 '42296341',
 '42344893',
 '42351913',
 '42360821',
 '42391683',
 '42398620',
 '42541241',
 '42573220',
 '42785912',
 '42817933',
 '42842539',
 '42883123',
 '42883726',
 '42900870',
 '42945132',
 '43018294',
 '43186910',
 '43464273',
 '43472156',
 '43511737',
 '43512826',
 '43597459',
 '43658946',
 '43798865',
 '43864014',
 '43864392',
 '43871346',
 '43909648',
 '43969955',
 '43972537',
 '44046627',
 '44046812',
 '44050813',
 '44165898',
 '44165968',
 '44166973',
 '44168090',
 '44243430',
 '44339690',
 '44377858',
 '44418185',
 '44454306',
 '44543080',
 '44831061',
 '44840851',
 '44927934',
 '44928007',
 '44928146',
 '44928279',
 '44928291',
 '44928387',
 '44933107',
 '44962145',
 '45035251',
 '45036713',
 '45037136',
 '45037296',
 '45176716',
 '45189972',
 '45190906',
 '45224241',
 '45295419',
 '45299800',
 '45325044',
 '45398233',
 '45399781',
 '45459778',
 '45460282',
 '45468062',
 '45521389',
 '45521771',
 '45521781',
 '45521855',
 '45543367',
 '45569246',
 '45577979',
 '45579855',
 '45607088',
 '45607664',
 '45620636',
 '45624340',
 '45740611',
 '45751249',
 '45782315',
 '45782380',
 '45782457',
 '45892661',
 '45901019',
 '45914930',
 '45998508',
 '46009753',
 '46009785',
 '46009794',
 '46009881',
 '46092858',
 '46092886',
 '46094715',
 '46103067',
 '46185712',
 '46185819',
 '46186864',
 '46188611',
 '46188689',
 '46188740',
 '46206121',
 '46282834',
 '46282840',
 '46282866',
 '46282918',
 '46282937',
 '46282950',
 '46283243',
 '46339226',
 '46344033',
 '46344119',
 '46344131',
 '46348805',
 '46353641',
 '46361124',
 '46555068',
 '46560093',
 '94911159',
 '95206378'}

In [4]:
table1[ColName.ID.value] = table1[ColName.ID.value].astype(str)
table2[ColName.ID.value] = table2[ColName.ID.value].astype(str)

table1[ColName.OFFER.value] = table1[ColName.OFFER.value].astype(str)
table2[ColName.OFFER.value] = table2[ColName.OFFER.value].astype(str)

table1[ColName.UNIT.value] = table1[ColName.UNIT.value].astype(str)
table2[ColName.UNIT.value] = table2[ColName.UNIT.value].astype(str)

table1[ColName.INSC_TYPE.value] = table1[ColName.INSC_TYPE.value].astype(str)
table2[ColName.INSC_TYPE.value] = table2[ColName.INSC_TYPE.value].astype(str)

scholarships[ColName.OFFER.value] = scholarships[ColName.OFFER.value].astype(str)
scholarships[ColName.UNIT.value] = scholarships[ColName.UNIT.value].astype(str)
scholarships[ColName.ID.value] = scholarships[ColName.ID.value].astype(str)

In [5]:
print(table1.dtypes)
print(table2.dtypes)
print(scholarships.dtypes)

unit       object
offer      object
insc       object
sex      category
id         object
dtype: object
unit       object
offer      object
insc       object
sex      category
id         object
dtype: object
unit     object
offer    object
id       object
dtype: object

In [6]:
table1 = table1[table1['insc']=="i"]
table2 = table2[table2['insc']=="i"]

In [23]:
table1 = filterDataFrame(table1, filters1)
table2 = filterDataFrame(table2, filters2)
scholarships = filterDataFrame(scholarships, schFilters)

In [7]:
print(table1.dtypes)
print(table2.dtypes)
print(scholarships.dtypes)

unit       object
offer      object
insc       object
sex      category
id         object
dtype: object
unit       object
offer      object
insc       object
sex      category
id         object
dtype: object
unit     object
offer    object
id       object
dtype: object

In [8]:
activity = table1.merge(table2,on=ColName.ID.value,how='inner')

In [16]:
activity: pd.DataFrame = table1.merge(table2, on=[ColName.ID.value], how="inner")

In [19]:
# Conversion from categorical to string to allow comparison between series
activity[ColName.OFFER.value + "_x"] = activity[
    ColName.OFFER.value + "_x"
].astype(str)

activity[ColName.OFFER.value + "_y"] = activity[
    ColName.OFFER.value + "_y"
].astype(str)

In [20]:
aux11 = activity[ColName.OFFER.value + "_x"] != activity[ColName.OFFER.value + "_y"]

In [9]:
differentActivity = activity[activity[ColName.OFFER.value + "_x"] != activity[ColName.OFFER.value + "_y"]]

In [10]:

set(differentActivity['id']).intersection(set(scholarships['id']))

{'41010079',
 '41676008',
 '42345517',
 '42618988',
 '42841767',
 '43254955',
 '43393897',
 '43658944',
 '43909013',
 '44241921',
 '44417141',
 '44453179',
 '44461210',
 '44461365',
 '44520175',
 '44592557',
 '44692959',
 '44693135',
 '44824431',
 '44835051',
 '44838927',
 '44839209',
 '44928137',
 '44928618',
 '45035501'}

In [11]:
differentActivityWithScholarships = differentActivity.merge(scholarships,on=ColName.ID.value,how="inner",)

In [12]:

differentActivityWithScholarships = differentActivityWithScholarships[
    differentActivityWithScholarships[ColName.OFFER.value + "_y"]
    == differentActivityWithScholarships[ColName.OFFER.value]
]

In [13]:
differentActivityWithScholarships = (
    differentActivityWithScholarships.drop_duplicates(subset=[ColName.ID.value])
    .groupby(ColName.OFFER.value, observed=True)[
        ColName.OFFER.value
    ]  # observed only applies if grouping by categorical columns,but set it still.
    .count()
)

In [14]:
differentActivityWithScholarships

offer
abogacia                                                                1
licenciatura en administracion                                          1
licenciatura en diagnostico y gestion ambiental                         1
licenciatura en economia empresarial                                    1
licenciatura en gestion tecnologica                                     1
licenciatura en historia                                                2
licenciatura en relaciones internacionales                              1
licenciatura en tecnologia de los alimentos                             1
licenciatura en trabajo social                                          1
periodismo                                                              1
profesor de teatro                                                      1
realizacion integral en artes audiovisuales                             1
tecnicatura universitaria en desarrollo de aplicaciones informaticas    4
Name: offer, dtype: int64